<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I am a Research Asssistant at the Science Gateway Research Center at Indiana University. I specialize in the area of Cloud and High Performance Computing</p>
    <p>A results-driven, customer-focused, articulate and analytic Software Engineer who can think “out of the box”. Strong in design, integration and implementing. Expert in Java/J2EE, cloud technologies such as OpenStack & Docker, PaaS platforms such as IBM BlueMix, AWS and public clouds such as EC2, SoftLayer and Azure; along with database analysis and design.</p>
    <p>Skilled in developing high quality code and architectural systems research. Strong written and verbal communications. Interested in a challenging technical track career in an application development or research environment.</p>
</div><!--//summary-->
</section><!--//section-->
