<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Introduction</h2>
<div class="summary">
    <p>I am a PhD student in <a href="http://www.cstr.ed.ac.uk">CSTR</a> at the University of Edinburgh. I work on neural sequence-to-sequence modelling of text-to-speech with a focus on pronunciation modelling. My research is funded by the <a href="http://www.esrc.ac.uk">ESRC</a> and my supervisors are <a href="http://homepages.inf.ed.ac.uk/korin/sitenew/index.html">Korin Richmond</a>  and <a href="http://homepages.inf.ed.ac.uk/srenals/">Steve Renals</a>. </p>
    <p></p>
</div><!--//summary-->
</section><!--//section-->

