 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">MSc in Speech and Language Processing</h4>
    <h5 class="meta">University of Edinburgh</h5>
    <div class="time">2016 - 2017 | Distinction</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BA in French and Spanish Linguistics </h4>
    <h5 class="meta">University of Southampton</h5>
    <div class="time">2012 - 2016 | 1st Class</div>
</div><!--//item-->
</div><!--//education-container-->
