<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">Aug 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Indiana University, Bloomington, IN</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Working as a Research Assistant in the Science Gateway Research Center at Indiana University.</p>
                        <p>Primarily working on the Apache Airavata open source project to enable execution of jobs (high performance parallel MPI jobs, as well as serial jobs) on cloud & containerized resources - EC2, OpenStack, Docker & other HPC clusters.<p>
                        <p>Building a Mesos based meta-scheduler for Apache Airavata - using Apache Mesos, Marathon, etc.<p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Cloud Developer/Software Engineer Intern</h3>
                            <div class="time">May 2016 - Aug 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">IBM Watson, Yorktown Heights, NY</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Worked on the IBM Watson Health "Real World Evidence" (RWE) project. RWE is a cloud service offering that provides an analytics platform (single tenant, multi-user) for gaining deeper insights into healthcare related data, and potentially to transform the healthcare and life sciences space.</p>
                        <p>My contribution:
                        <ul>
                            <li>Single handedly built the Accounting & ID Management system for RWE solution.</li>
                            <li>Developed secure REST APIs for user & identity management.</li>
                            <li>Automated X509 certificate & key deployments for different components within the cloud instance.</li>
                            <li>Implemented secure back-end service layer using Java.</li>
                            <li>Implemented secure database layer using JPA framework (with DB2).</li>
                        </ul>
                        </p>
                        
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Programmer</h3>
                            <div class="time">Jan 2016 - May 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Indiana University, Bloomington, IN</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Software Research Engineer, part of the IBM Research Team researching Hybrid Clouds. Working towards integration and management of IaaS and PaaS across on-premise and off-premise cloud environments. On-going research to develop a Hybrid Cloud Broker that seamlessly operates across multiple technologies enabling integration of heterogeneous multiple IaaS/PaaS cloud platforms and services using standard API sets.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Cloud Technology Support</h3>
                            <div class="time">Aug 2015 - Dec 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Indiana University, Bloomington, IN</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>My work included: research, test and contributing significant input in shaping the process for adopting cloud computing at Indiana University.</p>
                        <p>Also worked on:</p>
                        <ul>
                          <li>Internet2 Net+ Amazon Web Services (AWS) initiative.</li>
                          <li>Internet2 Net+ AWS is in "Early Adoption" phase & we are working with Internet2 and AWS to develop it further.</li>
                        </ul>
                        </p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">2012 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Persistent Systems Ltd, Goa</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Software Research Engineer, part of the IBM Research Team researching Hybrid Clouds. Working towards integration and management of IaaS and PaaS across on-premise and off-premise cloud environments. On-going research to develop a Hybrid Cloud Broker that seamlessly operates across multiple technologies enabling integration of heterogeneous multiple IaaS/PaaS cloud platforms and services using standard API sets.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
