<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-briefcase"></i>Teaching</h2>
<div class="summary">
    <p>I am a lab tutor for <a href="http://www.speech.zone/courses/speech-processing/">Speech Processing</a> and <a href="http://www.speech.zone/courses/speech-synthesis/">Speech Synthesis</a>.
    <!-- In April 2019, I came runner-up for the <a href="https://www.eusa.ed.ac.uk/about/awards/">Best Student Who Teaches</a> award organised by the Edinburgh University Student's Association.</p>
    <p></p>
</div><!--//summary-->
</section><!--//section-->
