<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Voice Tech Notes</h2>
                <div class="intro">
                    <p>I have started to upload <a href="http://homepages.inf.ed.ac.uk/s1649890/tech_log/index.html">structured notes</a> of how Text-to-Speech and Automatic Speech Recognition is being used in the world today. It is a work in progress and I'd appreciate any comments anyone may have, please send to my email above.</p>
 </div>
                <div class="item">
                    <span class="project-title"><a href="http://homepages.inf.ed.ac.uk/s1649890/tech_log/gen_voice_tech.pdf">General Speech Technology Applications</a></span> - 
                    <span class="project-tagline">Including fun videos on smart speakers, spoofing and language learning.</span>
</div>
   <div class="item">
                    <span class="project-title"><a href="http://homepages.inf.ed.ac.uk/s1649890/tech_log/voice_tech.pdf">Applications for Health</a></span> - 
                    <span class="project-tagline">Including videos on helping the disabled, the aged and medical professionals.</span>
</div>
             </section>
