<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>You can get elaborate details about my projects from my LinkedIn profile. I am listing them below.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/apache/airavata">Mesos based meta-scheduling for Apache Airavata</a></span> - 
                    <span class="project-tagline">Current Airavata executions assume computational resources are previously setup and ready to be used. Airavata then interacts with these resources. An enhancement will be to add further Orchestration capabilities to do resource provisioning.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/gouravshenoy/ExpediaHotelRecommendation">Kaggle: Expedia Hotel Recommendation</a></span> - 
                    <span class="project-tagline">Expedia's Kaggle challenge of contextualizing customer data and predicting the likelihood a user will stay at 100 different hotel groups.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://www.research.ibm.com/haifa/dept/vst/mldm_rwe.shtml" target="_blank">IBM Watson Real World Evidence (RWE)</a></span> - 
                    <span class="project-tagline">RWE is a single-tenant, multi-user cloud service offering that allows research scientists to quickly and effectively analyze health-care data in the cloud.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">AWS &amp; Docker - Command &amp; Control Center</a></span> - 
                    <span class="project-tagline">Here, I work on building an emergency management system using AWS to create a containerized, disaster ready, command and control center, in a docker container ready to be triggered by emergency personnel if disaster takes the campus infrastructure down.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/airavata-courses/TeamApex" target="_blank">Science Gateway-as-a-Service</a></span> - 
                    <span class="project-tagline">Here we build a Science Gateway Software-as-a-Service from scratch with DevOPs, and following Open Source standards. Science Gateways are distributed computing environments that enable scientists to conduct computational experiments on computing clouds and supercomputers </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/cloudmesh" target="_blank">IU Cloudnauts 2015 (CloudMesh Research Project)</a></span> - 
                    <span class="project-tagline">Develop abstraction layer for heterogeneous clouds including OpenStack, Amazon AWS, Windows Azure &amp; Docker.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/gouravshenoy/XINU-Kernel-Programming" target="_blank">XINU Operating System Kernel Programming</a></span> - 
                    <span class="project-tagline">Modifying the Xinu Shell and implementing Shell Commands &amp; System Calls in C. We boot the XINU image on Beaglebone Black device running the Cortex A8 ARM processor.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">IBM Research &amp; Development (Hybrid Cloud Management)</a></span> - 
                    <span class="project-tagline">The objective of the concept is to provide clients the ability to manage and integrate workloads and resources on a cloud with their existing processes, management and business systems.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/gouravshenoy/TravelPedia" target="_blank">TravelPedia</a></span> - 
                    <span class="project-tagline">Travelpedia is a travel planning application developed as a proof of concept using the IBM BlueMix platform. A sophisticated application that assimilates all aspects of planning a vacation, Travelpedia is a one stop solution to all holiday planning needs.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Training the Konkani POS Tagger using OPEN-NLP Maxent</a></span> - 
                    <span class="project-tagline">A national research project; which aimed at developing a self learning intelligent module - using A.I., which was capable of automatically tagging the words in a konkani corpus with the 'most appropriate' POS (part of speech) tag, depending upon the context in which it was used in the sentence.</span>
                </div><!--//item-->
            </section><!--//section-->
