<section class="section publications-section">
  <h2 class="section-title"><i class="fas fa-file-alt"></i>Publications</h2>
    <div class="intro">
<p> A list of my recent publications:</p>
</div>
    <div class="item">
    <li><a href="http://homepages.inf.ed.ac.uk/s1649890/morph/">Enhancing Sequence-to-Sequence Text-to-Speech with Morphology</a></li>
<div class="publication-authors">Jason Taylor, Korin Richmond</div>
<div class="publication-conference">In Submission to ICASSP 2020</div>
  </div><!--//item-->
</section><!--//section-->

