<section class="section publications-section">
  <h2 class="section-title"><i class="fa fa-file-alt"></i>Publications</h2>

    <div class="item">
    <li><a href="http://homepages.inf.ed.ac.uk/s1649890/morph/">Enhancing Sequence-to-Sequence Text-to-Speech with Morphology</a></li>
      <div class="publication-authors"><i><b>Jason Taylor</b>, Korin Richmond</i></div>
<div class="publication-conference">In Submission to ICASSP 2020</div>
  </div><!--//item-->
  
  <div class="item">
    <li><a href="http://homepages.inf.ed.ac.uk/s1649890/lts/">Analysis of Pronunciation Learning in End-to-End Speech Synthesis</a></li>
    <div class="publication-authors"><i><b>Jason Taylor</b>, Korin Richmond</i></div>
<div class="publication-conference">Interspeech 2019, Graz</div>
  </div><!--//item-->
  
    <div class="item">
      <li><a href="https://www.isca-speech.org/archive/SSW_2019/abstracts/SSW10_O_6-3.html">A Comparison of Letters and Phones as Input to Sequence-to-Sequence Models for Speech Synthesis</a></li>
  <div class="publication-authors"><i>Jason Fong, <b>Jason Taylor</b>, Korin Richmond and Simon King</i></div>
<div class="publication-conference">10th Speech Synthesis Workshop 2019, Vienna</div>
  </div><!--//item-->
</section><!--//section-->

