<section class="section publications-section">
  <h2 class="section-title"><i class="fa fa-file"></i>publications</h2>

    <div class="item">
    <li><a href="http://homepages.inf.ed.ac.uk/s1649890/asr/is21.pdf#page=0">Confidence Intervals for ASR-based TTS Evaluation</a></li>
      <div class="publication-authors"> <em><b>Jason Taylor</b>, Korin Richmond</em></div>
<div class="publication-conference">Interspeech 2021</div>
  </div><!--//item-->
  <br> 
    <div class="item">
  <li><a href="http://homepages.inf.ed.ac.uk/s1649890/fren/ssw21.pdf#page=0">Liaison and Pronunciation Learning in End-to-End Text-to-Speech in French</a></li>
    <div class="publication-authors"> <em><b>Jason Taylor</b>, Sébastien Le Maguer, Korin Richmond</em></div>
<div class="publication-conference">Interspeech 2021</div>
</div><!--//item-->
<br>
    <div class="item">
    <li><a href="http://homepages.inf.ed.ac.uk/s1649890/morph/">Enhancing Sequence-to-Sequence Text-to-Speech with Morphology</a></li>
      <div class="publication-authors"> <em><b>Jason Taylor</b>, Korin Richmond</em></div>
<div class="publication-conference">Interspeech 2020</div>
  </div><!--//item-->
  <br>
    <div class="item">
    <li><a href="https://jonojace.github.io/IS20-repmixing-limits">Testing the Limits of Representation Mixing
for Pronunciation Correction in End-to-End Speech Synthesis</a></li>
      <div class="publication-authors"> <em>Jason Fong, <b>Jason Taylor</b>, Simon King</em></div>
<div class="publication-conference">Interspeech 2020</div>
  </div><!--//item-->
  <br>  
  <div class="item">
    <li><a href="http://homepages.inf.ed.ac.uk/s1649890/lts/">Analysis of Pronunciation Learning in End-to-End Speech Synthesis</a></li>
    <div class="publication-authors"> <em><b>Jason Taylor</b></em>, Korin Richmond</div>
<div class="publication-conference">Interspeech 2019, Graz</div>
  </div><!--//item-->
  <br>
    <div class="item">
      <li><a href="https://www.isca-speech.org/archive/SSW_2019/abstracts/SSW10_O_6-3.html">A Comparison of Letters and Phones as Input to Sequence-to-Sequence Models for Speech Synthesis</a></li>
  <div class="publication-authors"> <em>Jason Fong, <b>Jason Taylor</b>, Korin Richmond and Simon King</em></div>
<div class="publication-conference">10th Speech Synthesis Workshop 2019, Vienna</div>
  </div><!--//item-->
</section><!--//section-->

